<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Generator</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css"
          rel="stylesheet"/>

    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css"
          rel="stylesheet"/>
    <style>
        .container .box {
            margin: 2px;
            padding: 5px;
        }

        /*Fade all the DIV when user hovers on any div*/
        .container:hover .box {
            zoom: 1;
            filter: alpha(opacity=45);
            opacity: 0.45;
            -webkit-transition: opacity .5s ease-in-out;
            -moz-transition: opacity .5s ease-in-out;
            -ms-transition: opacity .5s ease-in-out;
            -o-transition: opacity .5s ease-in-out;
            transition: opacity .5s ease-in-out;
        }

        /*Fade out the particular DIV when user hover on that DIV*/
        .container .box:hover {
            box-shadow: 3px 3px 15px #a8a8a8;
            border-color: #efefef;
            background: #e8e8e8;
            color: #fff;
            cursor: pointer;
            zoom: 1;
            filter: alpha(opacity=100);
            opacity: 1;
        }

        .remove {
            float: right;
        }

        .required:after {
            color: red;
            content: " *";
        }

    </style>

</head>
<body ng-app="builder"
      ng-controller="ModalCreatorController">
<div ng-include="'tabs/navbar.html'"></div>
<div class="container">
    <div class="page-header">
        <h1>HTML Form Builder</h1>
    </div>
    <div class="row">
        <div>
            <div class="col-md-6">
                <div>
                    <h4><b>Code</b></h4>
                </div>
                <uib-tabset active="code">
                    <uib-tab index="0">
                        <uib-tab-heading>
                            HTML code
                        </uib-tab-heading>
                        <figure class="highlight">
                            <pre><code>{{rawText}}</code></pre>
                        </figure>

                    </uib-tab>
                    <uib-tab index="1">
                        <uib-tab-heading>
                            JS code
                        </uib-tab-heading>
                        <figure class="highlight">
                            <pre><code>{{jsText}}</code></pre>
                        </figure>
                    </uib-tab>

                </uib-tabset>
                <!--<div class="form-group">-->
                <!--<button type="button"-->
                <!--class="btn btn-primary"-->
                <!--ng-click="download()">Download-->
                <!--</button>-->
                <!--</div>-->
            </div>
            <div class="col-md-6">
                <div>
                    <h4><b>Preview</b></h4>
                </div>
                <div class="box"
                     ng-repeat="elem in html">
                    <div class="btn-group remove"
                         role="group">

                        <button class="btn-group btn-danger"
                                type="button"
                                ng-click="remove($index)">
                            <span class="glyphicon glyphicon-trash"/>
                        </button>
                        <button class="btn-group btn-primary"
                                ng-if="html.length>1"
                                type="button"
                                ng-click="moveup($index)">
                            <span class="glyphicon glyphicon-menu-up"/>
                        </button>
                        <button class="btn-group btn-primary"
                                ng-if="html.length>1"
                                type="button"
                                ng-click="movedown($index)">
                            <span class="glyphicon glyphicon-menu-down"/>
                        </button>
                    </div>
                    <div ng-bind-html="elem"/>

                </div>
            </div>
        </div>
    </div>

</div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="js/builder.js"></script>
<script src="js/services/HtmlAttributeResolverService.js"></script>
<script src="js/services/HtmlRendererService.js"></script>
<script src="js/services/JsRendererService.js"></script>
<script src="js/services/HtmlElementFinderService.js"></script>
<script src="js/services/HtmlVariableResovlerService.js"></script>
<script src="js/services/HtmlRequiredAttributesResolverService.js"></script>
<script src="js/services/HtmlFileDownladerService.js"></script>
<script src="js/controllers/ModalCreatorController.js"></script>
<script src="js/controllers/ModalInstanceController.js"></script>
<script src="js/constants/form-elements.js"></script>
<script src="js/constants/miscellaneous.js"></script>
<script src="js/constants/ui-bootstrap.js"></script>
<script type="text/ng-template"
        id="modalDialog.html">
    <div class="modal-header">
        <h3 class="modal-title">
            {{elementName}}
        </h3>
    </div>
    <div class="modal-body pre-scrollable">
        <form name="form">
            <div class="form-group"
                 ng-repeat="attr in resolvedAttrs">
                <label for="{{attr}}"
                       ng-class="{'required' : isRequired(attr)}">{{attr}}</label>
                <input id="{{attr}}"
                       name="{{attr}}"
                       required="isRequired(attr)"
                       ng-if="!resolvedDafaults[attr]"
                       class="form-control"
                       ng-model="element.properties.attributes[attr]"
                       type="text">
                <select id="{{attr}}"
                        name="{{attr}}"
                        required="isRequired(attr)"
                        ng-if="resolvedDafaults[attr].length"
                        ng-model="element.properties.attributes[attr]"
                        class="form-control">
                    <option selected
                            ng-repeat="val in resolvedDafaults[attr]"
                            value="{{val}}">{{val}}
                    </option>
                </select>
            </div>
            <div class="form-group"
                 ng-repeat="var in resolvedVars">
                <label ng-class="{'required' : isRequired(var)}"
                       for="{{var}}">{{var}}</label>
                <input class="form-control"
                       id="{{var}}"
                       required="isRequired(var)"
                       type="text"
                       ng-model="element.properties.variables[var]"/>

            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary"
                type="button"
                ng-click="ok()">OK
        </button>
        <button class="btn btn-warning"
                type="button"
                ng-click="cancel()">Cancel
        </button>
    </div>
</script>
</body>
</html>